services:
  wopi-server:
    build: .
    ports:
      - "8080:8080"
    environment:
      WOPI_PORT: "8080"
      WOPI_BASE_URL: "http://wopi-server:8080"
      S3_ENDPOINT: "http://host.docker.internal:9000"
      S3_REGION: "us-east-1"
      S3_BUCKET: "encryptedstorage"
      S3_ACCESS_KEY_ID: "minioadmin"
      S3_SECRET_ACCESS_KEY: "rMxfdNJUzsx*Wor7"
      S3_USE_SSL: "false"
      S3_FORCE_PATH_STYLE: "true"
      WOPI_ACCESS_TOKEN_SECRET: "change-me-in-production"
      WOPI_CLIENT_URL: "http://localhost:9980"

  collabora:
    image: collabora/code:latest
    ports:
      - "9980:9980"
    environment:
      aliasgroup1: "http://wopi-server:8080"
      username: "admin"
      password: "admin"
      extra_params: "--o:ssl.enable=false --o:ssl.termination=false"
    cap_add:
      - MKNOD
